*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --background: rgba(17, 19, 20, 1);
    --font: rgba(119, 198, 153, 1);
    --select: rgba(165, 99, 119, 1);
    --details1: rgba(102, 102, 102, .5);
    --details2: rgba(102, 102, 102, .32);
    --details3: rgba(102, 102, 102, 0.25);
    --details4: rgba(102, 102, 102, 0.1);
}
*, font{
    color: var(--font);
}
body{
    height: 100vh;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}
body #listContent{
    padding-top: 8vh;
    height: 100%;
}
body #listContent ul{
    list-style-type: none;
}
body #listContent li a{
    padding-right: 5px;
    text-decoration: none;
    font-weight: 1000;
    color: var(--select);
}
body #listContent .buttons{
    margin-top:1vh;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 8vh;
}
body #listContent .buttons #taskInput{
    height: 28px;
    border: none;
    padding-left: 5px;
    background-color: var(--details3);
}
body #listContent .buttons #taskInput:hover{
    background-color: var(--details2);
}
body #listContent .buttons #sendButton{
    height: 28px;
    width: 3vh;
    border: none;
    background-color: var(--details2);
}
body #listContent .buttons #sendButton:hover{
    background-color: var(--details1);
}
/*  */
body #background{
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translateX(-25%) translateY(-50%);
    z-index: -2;
}
body #background code{
    color: var(--details4);
    font-size: 20px;
    line-height: 40px;
    box-sizing: border-box;
}